@media(max-width:768px) {

  main {
    .work {
      padding: 32px 0;
      height: 720px;

      .book-bg {
        right: 5%;
        top: 10%;
        left: auto;
        transform: none;
      }

      .flower {
        right: 0;
        left: auto;
        transform: none;
        width: 15%;

        &:hover {
          transform: rotate(360deg);
        }
      }

      .gross {
        bottom: -40%;
      }

      .book {
        margin-top: 32px;

        .book-page {
          height: 560px;

          .page-content {
            flex-direction: column;
            gap: 8px;

            .page-img {
              height: 180px;
            }

            .page-text {
              .tags {
                margin-top: 8px;

                .tag {
                  font-size: 12px;
                  padding: 4px 8px;
                }
              }
            }
          }

          .page-doodle2 {
            bottom: 5%;
          }
        }

        .book-left {
          .page-left {
            padding: 72px 48px;
          }
        }

        .book-right {
          .page-right {
            padding: 72px 48px;
          }
        }
      }
    }

    .skill {
      padding: 32px 0;
      overflow: hidden;

      .balls-group {
        margin-top: 48px;
        gap: 0;
        justify-content: space-between;
        .balls {
          width: calc((100% - 90px) / 3);
          .ball {
          }

          .paper {
            width: 8px;
            height: 8px;
          }

          .skill-list {
            ul {
              font-size: 20px;

              li {
                font-size: 14px;
              }
            }
          }
        }
      }

      .room {
        height: 600px;
        background-size: 130%;
        background-position-y: 75%;

        .car {
          width: 80px;
          bottom: 120px;
          left: 0px;
        }
      }
    }

    .contact {
      .contact-panel {
        padding: 32px 48px;

        .en {
          font-size: 20px;
        }

        .jp {
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width:520px) {
  body{
    overflow-x: hidden;
  }
  header {
    overflow:hidden;
    .header-bar {
      .header-right {
        // position: relative;
        // border: 1px solid red;
        
        .pc-menu {
          display: none;
        }
        
        .sp-menu {
          display: block;
          width: 28px;
          height: 28px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          z-index: 2;

          .sp-menu-bar {
            height: 3px;
            width: 100%;
            background: #000;
            position: absolute;
            transition: .3s;

          }

          .bar-1 {
            top: 15%;
            left: 0%;
          }

          .bar-2 {
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
          }

          .bar-3 {
            bottom: 15%;
            left: 0%;
          }
        }

        #sp-menu.sp-menu.menu-open {
          .bar-1 {
            transform: rotate(45deg);
            top: 50%;
          }

          .bar-2 {
            transform: translate(-100%, -50%);
          }

          .bar-3 {
            transform: rotate(-45deg);
            top: 50%;
          }
        }

        .roulette {
          display: block;
          position: absolute;
          top: 0%;
          left: 100%;
          width: 120px;
          height: 120px;
          border-radius: 0 0 100% 0;
          background:#fff;
          transform-origin: 0% 0%;
          transition:transform .3s;
          z-index: 1;

          ul {
            list-style: none;
            padding: 0;
            width: 100%;
            height: 100%;
            position: relative;
            a{
              display: inline-block;
              transform: translateX(-120%);
              text-decoration: none;
              color: inherit;
            }
            .sp-menu-nav{
              position: absolute;
              width: 100%;
              height: 100%;
              transform-origin: 0 0%;
            }
            
            .first{
              transform:rotate(-100deg) translate(-120px,0px)  ;
            }
            .second{
              transform:rotate(-120deg) translate(-120px,0px)  ;
            }
            .third{
              transform:rotate(-140deg) translate(-120px,0px)  ;
            }
            .fourth{
              transform:rotate(-160deg) translate(-120px,0px)  ;
            }
          }
        }

        .rouleette-rotate {
          transform: rotate(90deg);
        }
      }
    }

    #hero {
      height: 600px;
      margin-top: 0;

      .mv {
        width: 100%;
        height: 100%;

        .mv-img {
          width: 60%;
        }

        .bubble-message {
          bottom: auto;
          top: 0;
          left: 0;
          width: 80%;

          .bubble {
            transform: rotate(25deg);
            height: 340px;
          }

          .message {
            transform: none;
            top: 25%;
            width: 100%;

            .message-sm {
              margin-top: 8px;
            }
          }

          .jp {
            .message-sm {
              width: 90%;
            }
          }
        }

        #sun-moon-btn {
          width: 20%;
          top: 57.5%;
        }

        .sun {
          width: 25%;
          top: 55%;
          height: 45%;
        }

        .moon {
          width: 20%;
          top: 100%;
          height: 45%;
        }

        .star1 {
          width: 20%;
          left: -5%;
          right: auto;
          bottom: 80%;
        }

        .star2 {
          width: 20%;
          right: 10%;
          bottom: 80%;
        }

        .spiral1 {
          width: 10%;
          bottom: 20%;
        }

        .spiral2 {
          width: 7.5%;
          right: 45%;
          bottom: 20%;
        }

        .spiral3 {
          width: 7.5%;
          bottom: 35%;
        }

        .ground-bg {
          width: 60%;
        }

        .cloud {
          bottom: 50%;
          right: 5%;
          width: 25%;
        }

        .rain {
          bottom: 45%;
          right: 5%;
          width: 25%;
        }

        #bat {
          width: 20%;
          bottom: 45%;
          right: -10%;
        }

        .spring {
          display: none;
        }

        .light {
          width: 15%;
          bottom: 35%;
          right: 45%;
          transform: rotate(-10deg);
        }
      }
    }
  }

  main{
    .work{
      height: 800px;
      padding: 16px 0;
      .book-bg{
        display: none;
      }
      .flower{
        top: 5%;
        right: 5%;
        width: 20%;
      }
      .gross{
        bottom: 0;
        left: 10%;
      }
      .book{
        margin-top: 0;
        flex-direction: column;
        .book-left{
          height: 360px;
          .page-left{
            height: 100%;
            background-image: url(../img/book-up.png);
            padding: 48px 48px 0px 48px;
          }
        }
        .book-right{
          height: 360px;
          .page-right{
            height: 100%;
            background-image: url(../img/book-down.png);
            padding:36px 48px 0px 48px;
          }
        }
        .book-page{
          .page-doodle1{
            display: none;
          }
          .page-doodle2{
            display: none;
          }
          .page-content{
            .page-img{
              width: 80%;
              margin: 0 auto;
              height: 140px;
            }
            .page-text{
              .page-url{
                display: flex;
                align-items: center;
                gap: 8px;
                .tags{
                  margin-top: 0;
                }
                a{
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      #prev{
        // all: unset;
        left:50%;
        top:5%;
        cursor: pointer;
        position: absolute;
        transform:translateX(-50%) rotate(90deg);
        z-index: 10;
      }
      #next{
        left:50%;
        top: 105%;
        cursor: pointer;
        position: absolute;
        transform:translateX(-50%) rotate(90deg);
        z-index: 10;
      }
    }
    .skill{
      padding: 16px 0;
      .balls-group{
        gap: 0;
        justify-content: space-between;
        .balls{
          .ball{
          }
          .skill-list{
            ul{
              font-size: 16px;
              padding-left:16px ;
              li{
                font-size: 12px;
                margin-left:16px ;
              }
            }
          }
        }
      }
      .room{
        height: 500px;
        .car{
          width: 60px;
        }
      }
    }
    .contact{
      padding: 16px 0;
      .contact-panel{
        padding: 32px 16px;
        .en{
          font-size: 16px;
        }
        .jp{
          font-size: 14px;
        }
        label{
          .label-title{
            margin-top: 16px;
          }
        }
      }
    }
  }
  .animation-turn-page{
    animation: turn-page-updown 1s forwards ease-in-out;
  }
  .animation-turn-page-reverse{
    animation: turn-page-updown 1s forwards reverse;
  }
  .to-top{
    width: 60px;
  }
}