@keyframes scale {
  35% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.animetion-scale:hover {
  animation: scale 1s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animetion-rotate-fast {
  animation: rotate 1s infinite linear;
}

.animetion-rotate-slow {
  animation: rotate 2s infinite linear;
}

.animetion-rotate-reverse {
  animation: rotate 1s infinite linear reverse;
}

@keyframes grow {
  40% {
    transform: scale(0.8, 1.1);
  }
  70% {
    transform: scale(1.4, 0.7);
  }
  85% {
    transform: scale(0.9, 1.3);
  }
  100% {
    transform: scale(0.9, 1.3);
  }
}
.animetion-grow:hover {
  transform-origin: 50% 100%;
  animation: grow 1s infinite ease-in-out alternate;
}

@keyframes shake {
  35% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animetion-shake:hover {
  animation: shake 1s infinite ease-in-out alternate;
}

.animetion-shake-automatic {
  animation: shake 1s infinite ease-in-out alternate;
  transform-origin: 50% 0;
}

.animetion-change {
  transform: rotate(180deg);
}

.animetion-move-out {
  transform: translate(0%, -100%);
}

.animetion-move-in {
  transform: translate(-100%, -50%);
}

@keyframes light {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.animetion-light {
  animation: light 1s infinite alternate ease-in-out;
}

@keyframes spring {
  0% {
    transform: translate(-50%, 0%);
  }
  25% {
    transform: translate(-50%, 0%) scaleY(50%);
  }
  50% {
    transform: translate(-50%, 0%) scaleY(100%);
  }
  75% {
    transform: translate(-50%, 0%) scaleY(50%);
  }
  100% {
    transform: translate(-50%, 0%) scaleY(100%);
  }
}
@keyframes spring-height-keep {
  0% {
    transform: translate(0, 0%);
  }
  25% {
    transform: translate(0, 0%) scaleY(200%);
  }
  50% {
    transform: translate(0, 0%) scaleY(100%);
  }
  75% {
    transform: translate(0, 0%) scaleY(200%);
  }
  100% {
    transform: translate(0, 0%) scaleY(100%);
  }
}
.spring.animetion-spring {
  animation: spring 3s infinite ease-in-out alternate;
}

.spring-text.animetion-spring {
  animation: spring-height-keep 3s infinite ease-in-out alternate;
}

.animetion-rotate3d {
  transform: rotate3d(1, 0, 0, 180deg) !important;
}

@keyframes turn-page {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  99% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
}
@keyframes turn-page-updown {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  99% {
    transform: rotate3d(1, 0, 0, 180deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}
.animation-turn-page {
  z-index: 1;
  animation: turn-page 1s forwards ease-in-out;
}

.animation-turn-page-reverse {
  z-index: 1;
  animation: turn-page 1s forwards reverse;
}

@keyframes carmove {
  45% {
    transform: translate(800px);
  }
  50% {
    transform: translate(800px) rotateY(-180deg);
  }
  100% {
    transform: translate(0) rotateY(-180deg);
  }
}